body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color-background:#02031a;
    --secondary-color-background: #f2f2f2;
    --title-color: #b10c43;
    --border-color: #ff0841;
}
/* .color1 { #02031a };
.color2 { #021b2b };
.color3 { #b10c43 };
.color4 { #ff0841 };
.color5 { #ebdfcc }; */

#section-header {
    background-color: var(--primary-color-background);
    color: var(--secondary-color-background);
    height: 100vh
}

#section-header div {
    display: flex;
    justify-content: space-around;
    
}

.header-top {
    align-items: baseline;
    height: 100px;
    border-bottom: 1px solid var(--border-color);
}

.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    color: white;
}

.header-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.header-menu a:hover {
    color: var(--border-color);

}

.header-description {
    align-items: center;
    padding-top: 40px;
}

.header-description img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--primary-color-background);
}

.header-description p {
    width: 40%;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
    color: var(--secondary-color-background);
}



#section-products-comparison {
    background-color: var(--secondary-color-background);
    padding: 60px 80px;
    min-height: 100vh;
}

#section-products-comparison h2 {
    text-align: center;
    font-size: 28px;
    color: var(--primary-color-background);
    margin-bottom: 30px;
}

#section-products-comparison table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

#section-products-comparison th {
    background-color: var(--border-color);
    color: white;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

#section-products-comparison td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

#section-products-comparison tr:nth-child(even) {
    background-color: #f6f6f6;
}

#section-products-comparison tr:hover {
    background-color: #ffe6eb;
    transition: 0.3s;
}

#featured-products {
    background-color: var(--primary-color-background);
    color: var(--secondary-color-background);
    text-align: center;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-products h2 {
    margin-bottom: 30px;
}

#featured-products .product-card {
    background-color: var(--secondary-color-background);
    color: #000;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
    box-sizing: border-box;

}

#featured-products .product-card img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

#featured-products .product-card p {
    font-size: 16px;
    text-align: justify;
}

#featured-products .product-card span {
    color: var(--title-color);
    font-weight: bold;
    font-size: 20px;
}

#featured-products .product-card:hover {
    transform: scale(1.05);
}

#featured-products div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


footer {
    background-color: var(--primary-color-background);
    color: var(--secondary-color-background);
    text-align: center;
    padding: 25px;
    border-top: 2px solid var(--border-color);
    font-size: 14px;
    line-height: 1.8;
}

footer a {
    color: var(--border-color);
    text-decoration: none;
    font-weight: 600;
}

footer a:hover {
    text-decoration: underline;
}